.topnav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.cart-icon {
  position: relative;
  padding-top: 9px;
  color: #0a0a0a;
  display: inline-block;
  margin-left: 10px;
  margin-right: -7px;
}

.counter {
  position: absolute;
  bottom: 0px;
  left: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 8px;
}
