<h1 mat-dialog-title>Pas product aan</h1>
<div mat-dialog-content>
  <div>
    <label for="name">
      Plaatje Url
    </label>
    <input id="name" type="text" >
  </div>

  <div>
    <label for="password">
      Naam
    </label>
    <input id="password" type="password" >
  </div>
  <div>
    <label for="price">
      Prijs
    </label>
    <input id="price" type="number">
  </div>
  <div>
    <label for="discription">
      Omschrijving
    </label>
    <input id="discription" type="text">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Stop</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
