<form cForm>
  <div class="mb-3">
    <label cLabel for="inputEmail-1">Gebruikersnaam</label>
    <input cFormControl id="inputEmail-1" type="email" [(ngModel)]="loginDataSource.auth.username" [ngModelOptions]="{standalone: true}" >
    <div cFormText>
      We'll never share your email with anyone else
    </div>
  </div>
  <div class="mb-3">
    <label cLabel for="inputPassword-1">Wachtwoord</label>
    <input cFormControl id="inputPassword-1" type="password" [(ngModel)]="loginDataSource.auth.password" [ngModelOptions]="{standalone: true}">
  </div>
  <input cButton color="primary" type="submit" (click)="onClickLogin()">
</form>
