<c-card *ngFor="let product of productDataSource.productList" [color]="item.color"
        [textColor]="item.color === 'warning' || item.color === 'light' ? '' :  'white'"
        class="mb-3">
  <img src="{{product.pictureUrl}}" style="width:100%">
  <c-card-header>€{{product.price}}.-</c-card-header>
  <c-card-body class="bg-gradient">
    <p>{{product.name}}</p>
    <p>{{product.description}}</p>
    <button (click)="addProduct(product.id)" [color]="item.color" cButton class="shadow">Voeg toe</button>
  </c-card-body>
</c-card>

