.mb-3 {
max-width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: arial, serif;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.product-info p {
  margin: 10px 0;
  font-size: 18px;
}

.product-info input[type="number"] {
  width: 50px;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background-color: white;
  padding: 20px;
  border-right: 1px solid darkgray;
}

.product-info button {
  width: 100px;
  height: 40px;
  background-color: lightblue;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
